adversarial_robustness_toolbox==1.10.0
art==5.6
ConfigSpace==0.5.0
dataset_utils==0.0.48
easydict==1.9
graphviz==0.20
hpbandster==0.7.4
matplotlib==3.5.1
nats_bench==1.7
numpy==1.21.2
opacus==1.1.0
pandas==1.4.1
parameterized==0.8.1
Pillow==9.1.0
powerlaw==1.5
psutil==5.9.0
pytest==7.1.2
PyYAML==6.0
ruamel.base==1.0.0
runx==0.0.11
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
setuptools==58.0.4
tensorflow==2.4.1
timm==0.5.4
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
xvision==0.0.1